@model IEnumerable<Gymboking_V._01.Models.Gym>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole("Admin"))
{
<p>
    <a asp-action="Create" class="btn btn-success btn-sm">Create New</a><span>  |  </span>
    <a asp-action="GymHistory" class="btn btn-info btn-sm"  >Gym Classes History</a>

</p>

}



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <partial name="GymPartial" />
    </tbody>
</table>
